Repository nanoframework/nf-Visual-Studio-extension, pull requests merged in 2018-07, with the labels that each got.

#261 Change assembly loading method
  source/VisualStudio.Extension/DeployProvider/DeployProvider.cs
Labels: Area: VS-extension, Type: bug

#262 Improve blank application template
  source/CSharp.BlankApplication/Program.cs
Labels: Area: VS-extension, Type: enhancement

#263 Update Nugets for VS extension
  source/Tools.BuildTasks/Tools.BuildTasks.csproj
  source/Tools.BuildTasks/packages.config
  source/VisualStudio.Extension/VisualStudio.Extension.csproj
  source/VisualStudio.Extension/app.config
  source/VisualStudio.Extension/packages.config
Labels: Area: Config-and-Build, Area: VS-extension

#265 Assemblies referenced in other than the main project get deployed
  source/VisualStudio.Extension/DeployProvider/DeployProvider.cs
Labels: Area: VS-extension, Type: enhancement
