Repository nanoframework/nf-Visual-Studio-extension, pull requests merged in 2019-03, with the labels that each got.

#348 Remove duplicate headers in device capabilities output
  source/VisualStudio.Extension/ToolWindow.DeviceExplorer/DeviceExplorerCommand.cs
Labels: Area: VS-extension, Type: bug

#349 Fix copy of referenced assemblies marked with CopyLocal
  source/VisualStudio.Extension/Targets/NFProjectSystem.MDP.targets
Labels: Area: VS-extension, Type: bug

#350 Fix bad handling of devices collection
  source/VisualStudio.Extension/ToolWindow.DeviceExplorer/DeviceExplorerCommand.cs
  source/VisualStudio.Extension/ToolWindow.DeviceExplorer/ViewModel/DeviceExplorerViewModel.cs
Labels: Area: VS-extension, Type: bug

#351 Work on DeployProvider
  source/VisualStudio.Extension/DeployProvider/DeployProvider.cs
Labels: Area: VS-extension, Type: bug, Type: enhancement

#354 Work on CorDebugProcess
  source/VisualStudio.Extension/CorDebug/CorDebugProcess.cs
Labels: Area: VS-extension, Type: enhancement

#356 Improve attach to engine step
  source/VisualStudio.Extension/CorDebug/CorDebugProcess.cs
Labels: Area: VS-extension, Type: enhancement

#358 Remove deployment workaround for ESP32
  source/VisualStudio.Extension/DeployProvider/DeployProvider.cs
Labels: Area: VS-extension, Type: enhancement

#360 Add VS template for resources file
  assets/FileGroup.ico
  source/CSharp.ResourceTemplate/CSharp.ResourceTemplate.csproj
  source/CSharp.ResourceTemplate/CSharp.ResourceTemplate.vstemplate
  source/CSharp.ResourceTemplate/FileGroup.ico
  source/CSharp.ResourceTemplate/Properties/AssemblyInfo.cs
  source/CSharp.ResourceTemplate/Resource.Designer.cs
  source/CSharp.ResourceTemplate/Resource.resx
  source/CSharp.ResourceTemplate/packages.config
  source/VisualStudio.Extension/VisualStudio.Extension.csproj
  source/VisualStudio.Extension/source.extension.vsixmanifest
  source/nanoFramework.Tools.VisualStudio.sln
Labels: Area: VS-extension, Type: enhancement
