Repository nanoframework/nf-Visual-Studio-extension, pull requests merged in 2019-07, with the labels that each got.

#396 Update documentation URL in Class template
  source/CSharp.ClassLibrary/Class1.cs
Labels: Area: VS-extension, Type: bug

#397 Update documentation URL in application template
  source/CSharp.BlankApplication/Program.cs
Labels: Area: VS-extension, Type: bug

#398 Update project templates to reference mscorlib 1.2.6-preview.16
  source/CSharp.BlankApplication/CSharp.BlankApplication-vs2019.vstemplate
  source/CSharp.BlankApplication/CSharp.BlankApplication.vstemplate
  source/CSharp.ClassLibrary/CSharp.ClassLibrary-vs2019.vstemplate
  source/CSharp.ClassLibrary/CSharp.ClassLibrary.vstemplate
  source/VisualStudio.Extension-2019/VisualStudio.Extension.csproj
  source/VisualStudio.Extension-2019/packages.config
  source/VisualStudio.Extension-2019/source.extension.vsixmanifest
  source/VisualStudio.Extension/VisualStudio.Extension.csproj
  source/VisualStudio.Extension/packages.config
  source/VisualStudio.Extension/source.extension.vsixmanifest
Labels: Area: VS-extension, Type: dependencies

#399 Update debugger library to 1.3.0-preview.11
  source/VisualStudio.Extension-2019/VisualStudio.Extension.csproj
  source/VisualStudio.Extension-2019/packages.config
  source/VisualStudio.Extension-2019/version.json
  source/VisualStudio.Extension/VisualStudio.Extension.csproj
  source/VisualStudio.Extension/packages.config
  source/VisualStudio.Extension/version.json
Labels: Area: VS-extension, Breaking-Change, VS2017, VS2019

#401 Fix project icon not showing on VS project tree
  source/VisualStudio.Extension/ProjectSystem/ProjectTreePropertiesProvider.cs
Labels: Area: VS-extension, Type: bug, VS2017, VS2019
