Repository nanoframework/nf-Visual-Studio-extension, pull requests merged in 2023-04, with the labels that each got.

#774 Add back nano.runsettings to unit test project template
  CSharp.TestApplication/NFUnitTest.nfproj
Labels: Area: Config-and-Build, VS2019, VS2022

#776 Update VS2022 references
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Labels: Type: dependencies, VS2022

#777 Remove unnecessary targets from Unit Test template project
  CSharp.TestApplication/NFUnitTest.nfproj
Labels: Type: bug, VS2019, VS2022

#778 Add ProvideCodeBase to fix missing icons in device explorer
  VisualStudio.Extension-2022/NanoFrameworkPackage.cs
Labels: Type: bug, VS2022

#779 Migrate MVVM light to MVVM Toolkit
  VisualStudio.Extension-2019/AutomaticUpdates/UpdateManager.cs
  VisualStudio.Extension-2019/NanoFrameworkPackage.cs
  VisualStudio.Extension-2019/ToolWindow.DeviceExplorer/DeviceExplorerControl.xaml.cs
  VisualStudio.Extension-2019/ToolWindow.DeviceExplorer/SettingsDialog.xaml.cs
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/AutomaticUpdates/UpdateManager.cs
  VisualStudio.Extension-2022/NanoFrameworkPackage.cs
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/DeviceExplorerControl.xaml.cs
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/SettingsDialog.xaml.cs
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
  vs-extension.shared/DebugLauncher/NanoDebuggerLaunchProvider.cs
  vs-extension.shared/Messages/ForceSelectionOfNanoDeviceMessage.cs
  vs-extension.shared/Messages/NanoDeviceHasDepartedMessage.cs
  vs-extension.shared/Messages/NanoDeviceIsConnectedMessage.cs
  vs-extension.shared/Messages/NanoDevicesCollectionHasChangedMessage.cs
  vs-extension.shared/Messages/NanoDevicesDeviceEnumerationCompletedMessage.cs
  vs-extension.shared/Messages/SelectedNanoDeviceHasChangedMessage.cs
  vs-extension.shared/Messages/VirtualDeviceOperationExecutingMessage.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/DeviceExplorerCommand.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/ViewModel/DeviceExplorerViewModel.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/ViewModel/ViewModelLocator.cs
  vs-extension.shared/VirtualDeviceService/VirtualDeviceService.cs
  vs-extension.shared/vs-extension.shared.projitems
Labels: Type: enhancement, Type: dependencies, VS2019, VS2022

#781 Fix refs and VS2022 extension loading
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/app.config
  VisualStudio.Extension-2022/packages.lock.json
  VisualStudio.Extension-2022/source.extension.vsixmanifest
  nanoFramework.Tools.VisualStudio.sln
  vs-extension.shared/ToolWindow.DeviceExplorer/ViewModel/DeviceExplorerViewModel.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/ViewModel/ViewModelLocator.cs
Labels: Area: Config-and-Build, Type: dependencies, VS2019, VS2022

#780 Bump nbgv to 3.5.119 in VS2019
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
Labels: Type: dependencies, VS2019

#783 Add code base attribute for MVVM community library
  VisualStudio.Extension-2022/NanoFrameworkPackage.cs
Labels: Type: bug, VS2022, CI: SKIP BUILD

#786 Remove CodeBase attributes
  VisualStudio.Extension-2022/NanoFrameworkPackage.cs
Labels: Type: bug, VS2022

#785 Revert migration to community MVVM library
  VisualStudio.Extension-2019/AutomaticUpdates/UpdateManager.cs
  VisualStudio.Extension-2019/NanoFrameworkPackage.cs
  VisualStudio.Extension-2019/ToolWindow.DeviceExplorer/DeviceExplorerControl.xaml.cs
  VisualStudio.Extension-2019/ToolWindow.DeviceExplorer/SettingsDialog.xaml.cs
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/AutomaticUpdates/UpdateManager.cs
  VisualStudio.Extension-2022/NanoFrameworkPackage.cs
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/DeviceExplorerControl.xaml.cs
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/SettingsDialog.xaml.cs
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
  vs-extension.shared/DebugLauncher/NanoDebuggerLaunchProvider.cs
  vs-extension.shared/Messages/ForceSelectionOfNanoDeviceMessage.cs
  vs-extension.shared/Messages/NanoDeviceHasDepartedMessage.cs
  vs-extension.shared/Messages/NanoDeviceIsConnectedMessage.cs
  vs-extension.shared/Messages/NanoDevicesCollectionHasChangedMessage.cs
  vs-extension.shared/Messages/NanoDevicesDeviceEnumerationCompletedMessage.cs
  vs-extension.shared/Messages/SelectedNanoDeviceHasChangedMessage.cs
  vs-extension.shared/Messages/VirtualDeviceOperationExecutingMessage.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/DeviceExplorerCommand.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/ViewModel/DeviceExplorerViewModel.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/ViewModel/ViewModelLocator.cs
  vs-extension.shared/VirtualDeviceService/VirtualDeviceService.cs
  vs-extension.shared/vs-extension.shared.projitems
Labels: Type: dependencies, VS2019, VS2022

#787 Add new attributes to package declaration
  VisualStudio.Extension-2022/NanoFrameworkPackage.cs
Labels: Type: enhancement, VS2022

#788 Improvements on virtual device
  vs-extension.shared/VirtualDeviceService/VirtualDeviceService.cs
Labels: Type: bug, Type: enhancement, VS2022

#790 Update debugger library
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Labels: Type: dependencies, VS2022, CI: SKIP BUILD

#792 Work CI-CD
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  nanoFramework.Tools.VisualStudio.sln
Labels: Area: Config-and-Build, VS2019, VS2022
