Repository nanoframework/nf-Visual-Studio-extension, pull requests merged in 2024-11, with the labels that each got.

#834 `GlobalExclusiveDeviceAccess` added to Visual Studio extension
  .editorconfig
  VisualStudio.Extension-2019/AutomaticUpdates/UpdateManager.cs
  VisualStudio.Extension-2022/AutomaticUpdates/UpdateManager.cs
  VisualStudio.Extension-2022/NanoFrameworkMoniker.imagemanifest
  spelling_exclusion.dic
  vs-extension.shared/CorDebug/CorDebugProcess.cs
  vs-extension.shared/DebugLauncher/NanoDebuggerLaunchProvider.cs
  vs-extension.shared/DeployProvider/DeployProvider.cs
  vs-extension.shared/NanoDeviceCommService/INanoDeviceCommService.cs
  vs-extension.shared/NanoDeviceCommService/NanoDeviceCommService.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/DeviceExplorerCommand.cs
Labels: Type: enhancement

#838 Revert some refs in VS2019
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
Labels: Type: dependencies, VS2019

#839 Revert update on VS2019 refs
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
Labels: Type: dependencies, VS2019

#840 Revert VS2019 refs
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
Labels: Type: dependencies, VS2019

#841 Major rework on MVVM, referenced assemblies and others
  REAME-BEFORE-UPDATE-REFS.txt
  Tools.BuildTasks-2019/Tools.BuildTasks-2019.csproj
  Tools.BuildTasks-2019/packages.lock.json
  Tools.BuildTasks-2022/Tools.BuildTasks-2022.csproj
  Tools.BuildTasks-2022/packages.lock.json
  VisualStudio.Extension-2019/AutomaticUpdates/UpdateManager.cs
  VisualStudio.Extension-2019/FodyWeavers.xml
  VisualStudio.Extension-2019/NanoFrameworkPackage.cs
  VisualStudio.Extension-2019/ToolWindow.DeviceExplorer/DeviceExplorerControl.xaml
  VisualStudio.Extension-2019/ToolWindow.DeviceExplorer/DeviceExplorerControl.xaml.cs
  VisualStudio.Extension-2019/ToolWindow.DeviceExplorer/NetworkConfigurationDialog.xaml
  VisualStudio.Extension-2019/ToolWindow.DeviceExplorer/NetworkConfigurationDialog.xaml.cs
  VisualStudio.Extension-2019/ToolWindow.DeviceExplorer/SettingsDialog.xaml.cs
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/app.config
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/AutomaticUpdates/UpdateManager.cs
  VisualStudio.Extension-2022/FodyWeavers.xml
  VisualStudio.Extension-2022/FodyWeavers.xsd
  VisualStudio.Extension-2022/NanoFrameworkPackage.cs
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/DeviceExplorerControl.xaml
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/DeviceExplorerControl.xaml.cs
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/NetworkConfigurationDialog.xaml
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/NetworkConfigurationDialog.xaml.cs
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/SettingsDialog.xaml.cs
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
  nanoFramework.Tools.VisualStudio.sln
  readme.txt
  vs-extension.shared/DebugLauncher/NanoDebuggerLaunchProvider.cs
  vs-extension.shared/DeployProvider/DeployProvider.cs
  vs-extension.shared/NanoDeviceCommService/NanoDeviceCommService.cs
  vs-extension.shared/NanoOptions/NanoOptionsPageDebugging.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/DeviceExplorer.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/DeviceExplorerCommand.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/ViewModel/DeviceExplorerViewModel.cs
  vs-extension.shared/ToolWindow.DeviceExplorer/ViewModel/ViewModelLocator.cs
  vs-extension.shared/VirtualDeviceService/VirtualDeviceService.cs
  vs-extension.shared/vs-extension.shared.projitems
Labels: Area: Config-and-Build, Type: dependencies, VS2019, VS2022

#842 Definitive fix for icon images not loading
  VisualStudio.Extension-2022/NanoFrameworkMoniker.imagemanifest
  VisualStudio.Extension-2022/PrepareImageManifest.targets
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
Labels: Type: bug, Area: Config-and-Build, VS2022

#843 Bump version (now mirroring VS v17 minor version)
  VisualStudio.Extension-2022/source.extension.vsixmanifest
  VisualStudio.Extension-2022/version.json
Labels: Area: Config-and-Build, VS2022

#845 Implement fixes to get icon images loading
  VisualStudio.Extension-2022/NanoFrameworkMoniker.imagemanifest
  VisualStudio.Extension-2022/PrepareImageManifest.targets
  VisualStudio.Extension-2022/Properties/AssemblyInfo.cs
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
Labels: Type: bug, Area: Config-and-Build, VS2022

#846 Fix Network Configuration dialog
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/NetworkConfigurationDialog.xaml.cs
Labels: Type: bug, VS2022

#848 Fix device explorer MVVM implementation
  VisualStudio.Extension-2019/ToolWindow.DeviceExplorer/DeviceExplorerControl.xaml.cs
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/ToolWindow.DeviceExplorer/DeviceExplorerControl.xaml.cs
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
  vs-extension.shared/ToolWindow.DeviceExplorer/ViewModel/DeviceExplorerViewModel.cs
Labels: Type: bug, Type: dependencies, VS2019, VS2022

#850 Bump version for VS2022 extension
  VisualStudio.Extension-2022/NanoFrameworkMoniker.imagemanifest
  VisualStudio.Extension-2022/version.json
Labels: Area: Config-and-Build, VS2022

#851 Fix device property being passed to update manager
  vs-extension.shared/ToolWindow.DeviceExplorer/ViewModel/DeviceExplorerViewModel.cs
Labels: Type: bug, VS2019, VS2022

#856 Work CI-CD
  azure-pipelines.yml
Labels: Area: Config-and-Build
